html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

nav ul li a {
    position: relative;
    padding-bottom: 4px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease-in-out;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #1240ab, #7c3aed);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav ul li a:hover::before,
nav ul li a.active::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li a:hover {
    color: #1240ab;
}

nav ul li a.active {
    font-weight: 700;
    color: #1240ab;
}

.snowflake {
    position: absolute;
    top: -10px;
    width: 8px;
    height: 8px;
    background-color: rgba(18, 64, 171, 0.2);
    border-radius: 9999px;
    opacity: 0.7;
    animation: snowfall linear infinite;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.floating-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    animation: floatBalloon 12s ease-in-out infinite alternate;
    transition: transform 0.3s ease;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.1));
}

.floating-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Animation de type ballon flottant */
@keyframes floatBalloon {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(30px, -40px);
    }

    50% {
        transform: translate(-25px, 30px);
    }

    75% {
        transform: translate(20px, -20px);
    }

    100% {
        transform: translate(-20px, 10px);
    }
}